* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.shared-button {
  margin: 80px auto;
  height: 60px;
  width: 165px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.shared-button::after {
  content: "";
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: -50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.shared-button:hover::after {
  width: 50%;
  height: 100%;
  transform: translateX(-50px);
  z-index: -1;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}
.shared-button::before {
  content: "";
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: -50px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.shared-button:hover::before {
  width: 51%;
  height: 100%;
  transform: translateX(50px);
  z-index: -1;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
}
.shared-button:hover {
  color: white;
}

.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);
  text-decoration: none;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li a {
  color: var(--main-color);
  padding: 15px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.header .mega-menu .links li a i {
  margin-right: 10px;
}
.landing {
  height: calc(100vh - 83px);
  background-color: #eee;
  position: relative;
}
.landing::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  background-color: white;
  z-index: 0;
  clip-path: polygon(0 67%, 100% 0, 100% 100%, 0% 100%);
}
.landing .container {
  display: flex;
}
.landing div {
  flex-basis: 50%;
  padding-top: 50px;
}
.landing .image {
  animation: move-up-down 1.5s linear alternate-reverse infinite;
  -webkit-animation: move-up-down 1.5s linear alternate-reverse infinite;
}
.landing .image img {
  width: 100%;
}
@media (max-width:376px) {
  .landing .text {
    transform: translateY(-95px);
    -webkit-transform: translateY(-95px);
    -moz-transform: translateY(-95px);
    -ms-transform: translateY(-95px);
    -o-transform: translateY(-95px);
}
}
.landing .text {
  align-self: center;
}
.landing .text h2 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@keyframes move-up-down {
  from {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  to {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
}
.landing i {
  position: absolute;
  left: 50%;
  bottom: 30px;
  color: var(--main-color);
  animation: icon-move 0.5s linear 1s infinite alternate-reverse;
  -webkit-animation: icon-move 0.5s linear 1s infinite alternate-reverse;
  z-index: 1;
}
@keyframes icon-move {
  0%,
  100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  30%,
  40% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
}
@media (max-width: 768px) {
  .landing {
    height: calc(100vh - 120px);
  }
  .landing .image {
    display: none;
  }
  .landing .container {
    justify-content: center;
  }
}
.article {
  margin-bottom: 50px;
}
.article .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article .container .box {
  margin-bottom: 30px;
  box-shadow: 0 0 9px 0 #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 569px) {
  .article .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 569px) {
  .article .container .box {
    flex-basis: 48%;
  }
}
@media (min-width: 991px) {
  .article .container .box {
    flex-basis: calc(96% / 3);
  }
  .article .container .box:last-child {
  }
}
@media (min-width: 1199px) {
  .article .container .box {
    flex-basis: 24%;
  }
}
.article .container .box img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.article .container .box .text {
  border-bottom: 1px solid #ddd;
}
.article .container .box .text {
  padding: 15px;
}
.article .container .box h3 {
  margin: 0;
}
.article .container .box p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
}
.article .container .box .footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  color: var(--main-color);
}
.article .container .box .footer span {
  font-weight: bold;
  cursor: pointer;
}
.article .container .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.article .container .box:hover i {
  animation: move-left 0.7s linear infinite;
  -webkit-animation: move-left 0.7s linear infinite;
}
@keyframes move-left {
  to {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
  }
}
.gallery {
  background-color: var(--section-background);
  padding: 30px 0;
  position: relative;
  z-index: 0;
}
.gallery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 669px) {
  .gallery .container .image {
    flex-basis: 100%;
  }
}
@media (min-width: 669px) {
  .gallery .container .image {
    flex-basis: 48%;
  }
}
@media (min-width: 1199px) {
  .gallery .container .image {
    flex-basis: calc(96% / 3);
  }
}
.gallery .image {
  background-color: white;
  margin-bottom: 30px;
  padding: 15px;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.gallery .image img {
  width: 100%;
}
.gallery .image:hover .overlay {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 0%;
  height: 100%;
  animation: fill 0.3s linear 1 forwards;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation: fill 0.3s linear 1 forwards;
}
@keyframes fill {
  to {
    width: 100%;
  }
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  margin-bottom: 40px;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  border: 3px solid #eee;
}
.features .container .box .image {
  position: relative;
}
.features .container .box .image img {
  width: 100%;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.features .container .box .image .overlay-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.35);
  z-index: 1;
}
.features .container .box .image .overlay-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.356);
  z-index: 1;
}
.features .container .box .image .overlay-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.358);
  z-index: 1;
}
.features .container .box .image::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .container .box:hover .image::after {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.features .container .box .text {
  padding: 15px;
  text-align: center;
}
.features .container .box .text h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
  padding-bottom: 15px;
}
.features .container .box .text p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.q-header {
  border-bottom: 5px solid rgba(255, 0, 0);
}
.t-header {
  border-bottom: 5px solid rgba(0, 128, 0);
}
.te-header {
  border-bottom: 5px solid rgba(0, 0, 255);
}
.footer {
  padding: 20px 0;
}
.footer .button {
  padding: 15px;
  width: 130px;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
.button-1 {
  border: 3px solid rgba(255, 0, 0);
  position: relative;
  overflow: hidden;
}
.button-2 {
  border: 3px solid rgba(0, 128, 0);
  position: relative;
  overflow: hidden;
}
.button-3 {
  border: 3px solid rgba(0, 0, 255);
  position: relative;
  overflow: hidden;
}
.button-1::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}
.features .container .box:hover .button-1 {
  color: white;
}
.features .container .box:hover .button-1::before {
  left: 0;
}
.button-2::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}
.features .container .box:hover .button-2 {
  color: white;
}
.features .container .box:hover .button-2::before {
  left: 0;
}
.button-3::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}
.features .container .box:hover .button-3 {
  color: white;
}
.features .container .box:hover .button-3::before {
  left: 0;
}
.testimonials {
  background-color: var(--section-background);
  position: relative;
  z-index: 0;
  padding: 40px 0;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 40px;
}
.testimonials .container .box {
  background-color: white;
  position: relative;
  padding: 20px;
}
.testimonials .container .box .image {
  width: 100px;
  height: 100px;
  background-color: var(--section-background);
  position: absolute;
  right: 0;
  top: -30%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 10px;
}
.testimonials .container .box .image img {
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.text .icons .filled {
  color: #ffd700;
}
.testimonials .container .box .text h3 {
  margin: 0 0 10px;
}
.testimonials .container .box .text span {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testimonials .container .box .text p {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}
.team {
  padding-bottom: 80px;
}
.team .shared-button,
.testimonials .shared-button {
  width: fit-content;
  padding: 0 20px;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px 40px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .box .data .social a:hover i {
  color: var(--main-color);
}
.team .box .data .social i {
  color: #777;
  transition: var(--main-transition);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
.team .box:hover .info h3 {
  color: #777;
}
.services {
  background-color: var(--section-background);
  padding: 40px 0;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: ctr;
  position: relative;
  overflow: hidden;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .container .box h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
}
.services .container .box i {
  margin: 30px auto 20px;
  display: block;
  text-align: center;
  color: #d5d5d5;
}
.services .shared-button {
  z-index: 1;
}
.services .container .box::after {
  content: "";
  background-color: var(--main-color);
  width: 0;
  height: 2px;
  position: absolute;
  top: 0;
  left: 50%;
  transition: 0.5s linear;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}
.services .container .box:hover::after {
  width: 100%;
}
.services .container .box::before {
  content: "";
  background-color: var(--main-color);
  width: 0;
  height: 2px;
  position: absolute;
  top: 0;
  right: 50%;
  transition: 0.5s linear;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box:hover {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
}
.services .box .info::before {
  content: "0" counter(ctr);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
.services .box .info a {
  color: var(--main-color);
}
.skills .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .skills .container .image {
    display: none;
  }
  .skills .container .box {
    flex: 1;
  }
}
.skills .container .image,
.skills .container .box {
  flex-basis: 48%;
}
.skills .container .image img {
  width: 100%;
}
.skills .container .box {
  display: flex;
  flex-direction: column;
}
.skills .container .box .content {
  margin-bottom: 20px;
}
.skills .container .box .content .bar {
  height: 30px;
  background-color: #eee;
  margin-top: 15px;
  position: relative;
}
.skills .container .box .content .bar::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.skills .container .box .content .bar-1::after {
  width: 80%;
}
.skills .container .box .content .bar-2::after {
  width: 85%;
}
.skills .container .box .content .bar-3::after {
  width: 70%;
}
.skills .container .box .content .bar-4::after {
  width: 90%;
}
.skills .container .box .content .bar::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 21px;
  right: 0;
  top: -30px;
  border: 1px solid rgba(0, 0, 0, 0.234);
  color: var(--main-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
}
.skills .container .box .content .bar-1::before {
  content: "80%";
}
.skills .container .box .content .bar-2::before {
  content: "85%";
}
.skills .container .box .content .bar-3::before {
  content: "70%";
}
.skills .container .box .content .bar-4::before {
  content: "90%";
}
.work-steps {
  background-color: var(--section-background);
  padding: 40px 0;
}
.work-steps .shared-button {
  z-index: 1;
  width: fit-content;
  padding: 0 10px;
}
.work-steps .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .work-steps .container .box,
  .work-steps .container .image {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 991px) {
  .work-steps .container .box,
  .work-steps .container .image {
    flex-basis: 48%;
  }
}

.work-steps .container .image img {
  width: 100%;
}
.work-steps .container .box .content .image {
  flex-basis: 13%;
  align-self: center;
}
.work-steps .container .box .content .text {
  flex-basis: 83%;
}
.work-steps .container .box .content .image img {
  width: 100%;
}
.work-steps .container .box .content {
  background-color: #f6f5f5;
  margin-bottom: 20px;
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  position: relative;
  z-index: 1;
}
.work-steps .container .box .content::after {
  content: "";
  width: 10%;
  height: 10%;
  position: absolute;
  background-color: hsla(0, 0%, 93%, 0.5);
  z-index: -1;
  left: 45%;
  top: 45%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  visibility: hidden;
}
.work-steps .container .box .content:hover::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: visible;
}
.work-steps .container .box .content .text h3 {
  margin: 0;
  font-size: 22px;
}
.work-steps .container .box .content .text p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
.events {
  position: relative;
  padding-bottom: 80px;
}
.events .shared-button {
  z-index: 1;
  width: fit-content;
  padding: 0 10px;
}
.events .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .events .container .image {
    display: none;
  }
  .events .container .box {
    flex: 1;
    width: 100%;
  }
  .dots {
    display: none;
  }
}
@media (min-width: 991px) {
  .events .container .box {
    flex-basis: 58%;
  }
  .events .container .image {
    flex-basis: 38%;
  }
}
.events .container .image img {
  width: 100%;
}
.events .container .box .text {
  text-align: center;
}
.events .container .box .text h2 {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.events .container .box .text p {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
}
.date {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.date li {
  border: 1px solid #d4d4d4;
  margin-left: 10px;
  width: 75px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  position: relative;
}
.date li:first-child::after {
  content: "Days";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: calc(-20% - 15px);
  border: 1px solid #d4d4d4;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  padding: 7px 0;
}
.date li:nth-child(2)::after {
  content: "Hours";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: calc(-20% - 15px);
  border: 1px solid #d4d4d4;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  padding: 7px 0;
}
.date li:nth-child(3)::after {
  content: "Minutes";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: calc(-20% - 15px);
  border: 1px solid #d4d4d4;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  padding: 7px 0;
}
.date li:last-child::after {
  content: "Seconds";
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: calc(-20% - 15px);
  border: 1px solid #d4d4d4;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  padding: 7px 0;
}
.events .dots-1 {
  position: absolute;
  right: 0;
  bottom: 70%;
}
.events .dots-2 {
  position: absolute;
  bottom: 12%;
}
@media (max-width: 991px) {
  .mail-box {
    width: 100%;
    margin: 0;
    visibility: hidden;
  }
}
.mail-box {
  background-color: var(--section-background);
  width: 50%;
  margin: auto;
  padding: 30px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  display: flex;
  justify-content: space-between;
}
.mail-box input {
  display: block;
  flex-basis: 70%;
  height: 58px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border: none;
  padding-left: 20px;
}
.mail-box input:focus {
  caret-color: var(--main-color);
  border: none;
}
.mail-box input:focus::placeholder {
  color: transparent;
}
.mail-box button {
  flex-basis: 25%;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  color: white;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
}
.mail-box button:hover {
  background-color: var(--main-color-alt);
}
.pricing {
  background-color: var(--section-background);
  padding: 30px 0 80px;
}
.pricing .shared-button {
  z-index: 1;
  width: fit-content;
  white-space: nowrap;
  padding: 0 20px;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.pricing .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.pricing .container .box .top-content {
  text-align: center;
}
.pricing .container .box .top-content h2 {
  font-weight: bold;
  margin: 30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}
.pricing .container .box .top-content .image {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
}
.pricing .container .box .top-content .image img {
  width: 100%;
}
.price {
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}
.price span {
  display: block;
  color: #777;
  font-size: 16px;
  font-weight: normal;
}
.pricing .container .box:nth-child(2) {
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
.pricing .container .box::before {
  content: "";
  width: 100%;
  height: 50%;
  background-color: hsla(0, 0%, 93%, 0.5);
  position: absolute;
  left: -100%;
  top: 0;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.pricing .container .box:hover::before {
  left: 0;
}
.pricing .container .box::after {
  content: "";
  width: 100%;
  height: 50%;
  background-color: hsla(0, 0%, 93%, 0.5);
  position: absolute;
  right: -100%;
  bottom: 0;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.pricing .container .box:hover::after {
  right: 0;
}
.pricing .container .box ul {
  margin: 10px 0 30px;
}
.pricing .container .box ul li {
  padding: 20px 30px;
  border-top: 1px solid #eee;
}
.pricing .container .box button {
  display: block;
  margin: 0 auto 30px;
  color: var(--main-color);
  background-color: white;
  border: 2px solid var(--main-color);
  font-weight: bold;
  padding: 15px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
}
.pricing .container .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing .container .box button:hover {
  color: white;
  background-color: var(--main-color);
}
.video {
  padding-bottom: 80px;
}
.video .container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 991px) {
  .video .container div {
    flex-basis: 100%;
  }
}
@media (min-width: 991px) {
  .video .container .playlist {
    flex-basis: 25%;
  }
  .video .container .poster {
    flex-basis: 75%;
  }
}
.video .container .poster .image img {
  width: 100%;
}
.video .container .playlist h3 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
}
.video .container .playlist ul li {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.video .container .playlist ul li a:hover {
  color: var(--main-color);
}
.video .container .playlist ul li span {
  display: block;
  margin-top: 5px;
}
.video .container .poster {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video .container .poster .image {
  width: 97%;
  margin: auto;
  margin-top: 1.5%;
}
.video-footer {
  background-color: white;
  width: 97%;
  margin: 0 auto 1.5%;
  padding: 25px;
}
.stats {
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}
.stats .overlay {
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  z-index: 1;
}
.stats .container .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.stats .container .box::before,
.stats .container .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  height: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.stats .container .box::before {
  left: 0;
  bottom: -100%;
}
.stats .container .box::after {
  right: 0;
  top: -100%;
}
.stats .container .box:hover::after {
  top: 0;
}
.stats .container .box:hover::before {
  bottom: 0;
}
.stats .container .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .container .box span {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
.discount {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .discount div {
    flex-basis: 100%;
  }
}
@media (min-width: 991px) {
  .discount div {
    flex-basis: 50%;
  }
}
.discount .offer {
  /* width: fit-content; */
  width: 100%;
  text-align: center;
  background-image: url(../imgs/discount-background2.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
  color: white;
  padding: 100px 50px;
}
.discount .offer .overlay {
  background-color: hsla(207, 90%, 54%, 0.95);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.discount .offer h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.discount .offer p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
  margin-bottom: 20px;
}
.discount .offer .image {
  width: 250px;
  margin: auto;
}
.discount .offer .image img {
  width: 100%;
}
.discount .form {
  text-align: center;
  padding: 100px 50px;
}
.form h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
.discount .form input,
.discount .form textarea {
  display: block;
  width: 60%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
}
.discount .form button {
  width: 60%;
  color: white;
  background-color: var(--main-color);
  padding: 20px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
footer {
  padding: 80px 0;
  background-color: #191919;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
footer .container .box img {
  width: 78px;
  max-width: 100%;
}
footer .container .box:first-child h2 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
footer .container .box:first-child p {
  line-height: 2;
  color: #b9b9b9;
}
.social {
  display: flex;
  margin-bottom: 10px;
}
.social li {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.social li:not(:first-child) {
  margin-left: 10px;
}
.links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.links li:hover {
  padding-left: 10px;
}
.address li {
  color: #b9b9b9;
  margin-bottom: 30px;
  line-height: 1.7;
  display: flex;
  align-items: center;
}
.address li i{
  color: var(--main-color);
  margin-right: 10px;
  font-size: 25px;
}
